<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly" >

    <permission
        android:name="com.hexrain.reminder.beta.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="com.hexrain.reminder.beta.maps.permission.MAPS_RECEIVE" />
</manifest>
